<div fxLayout="row">
  <div fxFlex></div>
  <mat-card class="mat-elevation-z8">
    <mat-toolbar color="primary">
      <h1>Quizzes</h1>
    </mat-toolbar>
    <mat-card-content>
      <mat-list>
        <mat-list-item fxLayout="column" *ngFor="let quiz of quizzes" >	
            {{quiz.title}}
          <div fxFlex></div>
          <mat-action-list fxLayout="row" fxLayoutGap="2%">
            <button mat-raised-button color="primary" (click)="goPresentations()">View Presentations</button>
            <button mat-raised-button color="primary" routerLink="/home/quiz/{{quiz._id}}">Take Test</button>
          </mat-action-list>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <div fxFlex></div>
</div>