<div fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="mat-elevation-z8" *ngFor="let quiz of quizzes">
    <mat-card-header>
      <mat-card-title>{{quiz.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <video controls reload="none">
        <source src="../../../assets/presentations/{{quiz.title}}.mp4" />
      </video>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center start">
      <button mat-raised-button color="primary" routerLink="/home/quiz/{{quiz._id}}">Take Test</button>
    </mat-card-actions>
  </mat-card>

  <mat-card-actions fxLayout="row" fxFlexFill fxLayoutAlign="end center">
      <button mat-raised-button color="warn" (click)="close()">Close</button>
  </mat-card-actions>
</div>